* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/bodyBackground.jpg");
	font-family: 'Kanit', sans-serif;
}

header {
	background-image: url("../images/headerBackground.png");
	height: 50px;
	font-size: 36px;
	text-align: center;
	padding: 7px 0;
	color: white;
}

input {
	outline: none;
}

#charSelectScreen {
	width: 508px;
	height: 532px;
	position: relative;
	margin: 54px auto;
	background-image: url("../images/charSelectBackground.jpg");
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 24px;
	border: 4px solid black;
}

#charSelectScreen input {
	width: 200px;
	height: 200px;
	float: left;
	margin: 20px;
}

#charSelectScreen input:hover {
	border: 2px solid red;
}

.container {
	width: 960px;
	height: 640px;
	border: 1px solid black;
	margin: 25px auto;
	background-image: url("../images/containerBackground.png");
	margin-bottom: 0;
	position: relative;
}

#opponentArea {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 150px;
}

#opponentArea input {
	width: 150px;
	height: 150px;
}

#defenderArea {
	position: absolute;
	bottom: 150px;
	right: 240px;
}

#defenderArea input {
	width: 150px;
	height: 150px;
}

#attackerArea {
	position: absolute;
	left: 240px;
	bottom: 150px;
}

#attackerArea input {
	width: 150px;
	height: 150px;
}

button {
	position: absolute;
	bottom: 25px;
	left: 20px;
	font-family: 'Kanit', sans-serif;
	width: 120px;
    background: white;
    outline: none;
    height: 35px;
    font-size: 18px;
}

#statsArea {
	position: absolute;
	bottom: 0;
	left: 100px;
	background-image: url("../images/statsAreaBackground.jpg");
	width: 696px;
	height: 90px;
}

.loadUp {
	display: none;
}
.fighterName {
	height: 40px;
	position: relative;
}

#attackerName {
	position: absolute;
	left: 170px;
	top: 10px;
	font-size: 24px;
	font-family: 'Kanit', sans-serif;
	color: white;
	text-align: left;
}

#defenderName {
	position: absolute;
	left: 490px;
	top: 10px;
	font-size: 24px;
	font-family: 'Kanit', sans-serif;
	color: white;
	text-align: left;
}

#attackerHealth {
	position: absolute;
	left: 170px;
	color: white;
	font-size: 18px;
	text-align: left;
}

#defenderHealth {
	position: absolute;
	left: 490px;
	color: white;
	font-size: 18px;
	text-align: left;
}

#healthBarAtt {
	height: 5px;
	width: 120px;
	background-color: red;
	position: absolute;
	left: 170px;
	top: 65px;
}
#attHealthPerct {
	width: 100%;
	background-color: green;
	height: 5px;
}

#healthBarDef {
	display: none;
	height: 5px;
	width: 120px;
	background-color: red;
	position: absolute;
	left: 490px;
	top: 65px;
}
#defHealthPerct {
	width: 100%;
	background-color: green;
	height: 5px;
}

#instructions {
	position: relative;
	margin: 10px 0;
	padding: 10px 30px;
	width: auto;
	font-size: 18px;
	font-family: 'Kanit', sans-serif;
	color: white;
	background-color: rgba(0,0,0,0.5);
	line-height: 20px;
}

ul {
	list-style-image: url('../images/chocobo.png');
}

#victory {
	display: none;
	font-size: 150px;
	font-family: 'Kanit', sans-serif;
	position: absolute;
	left: -1000px;
	bottom: 280px;
	color: white;
}

#gameOver {
	display: none;
	font-size: 150px;
	font-family: 'Kanit', sans-serif;
	position: absolute;
	left: -1000px;
	bottom: 280px;
	color: white;
}

#playAgain {
	display: none;
	position: absolute;
    bottom: 25px;
    left: 725px;
    width: 195px;
    height: 50px;
    font-size: 28px;
}